.container {
  display: flex;
  flex-direction: column;
}

.header {
  font-family: 'Apple Chancery', sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 30px 0;
}

.line {
  border-bottom: 1px black solid;
  margin: 0 15%;
}

.game-map-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.game-map {
  display: flex;
}

.box {
  width: 45px;
  height: 45px;
  border: 3px solid gray;
  margin: 5px;
  padding: 5px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.box.active {
  border-color: #565758;
}

.the-required-letter {
  background-color: #6aaa64;
  color: white;
  border-color: #6aaa64;
}

.the-required-letter-in-bad-place {
  background-color: #c9b458;
  color: white;
  border-color: #c9b458;
}

.wrong-letter {
  background-color: #787c7e;
  color: white;
  border-color: #787c7e;
}

.invalid-word {
  animation: shake 0.5s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.loading-spinner {
  text-align: center;
  font-size: 20px;
  margin: 20px;
  color: #565758;
}

.hidden {
  display: none;
}
